@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-image: url(https://res.cloudinary.com/dwfcofnrd/image/upload/q_auto,f_auto/bg_j7zo5y.jpg);
    background-attachment: fixed;
    @apply bg-blue-dark text-white;
  }

  img,
  video {
    width: 100%;
    height: auto;
  }

  .title {
    @apply uppercase font-black inline-block px-2 text-xl md:text-3xl leading-none;
  }

  .flowing-title {
    box-shadow: -8px 0 0 theme("colors.blue.dark");
    background: theme("colors.blue.dark");

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    white-space: initial;
    position: relative;
    left: 8px;
    display: inline;
    padding-left: 0;
  }

  .flowing-title-light {
    box-shadow: -8px 0 0 theme("colors.blue.light");
    background: theme("colors.blue.light");
  }

  .flowing-title-red {
    box-shadow: -8px 0 0 theme("colors.red");
    background: theme("colors.red");
  }

  .flowing-title-yellow {
    box-shadow: -8px 0 0 theme("colors.yellow");
    color: theme("colors.black");
    background: theme("colors.yellow");
  }

  .flowing-title-fancy {
    background: -webkit-linear-gradient(0deg, #fbd088, #256ad1, #d1258c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: theme('colors.black'); */
    box-shadow: -8px 0 0 theme("colors.black");
    position: relative;
    z-index: 1;
  }

  .flowing-title-fancy::before {
    content: "";
    background: theme("colors.black");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .with-fancy-bg {
    @apply relative;
  }

  .with-fancy-bg:before {
    content: "";
    @apply absolute w-full h-full -bottom-2 -right-6 bg-blue-dark z-0;
  }

  .with-fancy-bg.fancy-blue-light:before {
    content: "";
    @apply bg-blue-light;
  }
}
